<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Silver Giggle</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add">Add a book</a>
          </li>

                  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sort by
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/latest">Latest</a></li>
            <li><a class="dropdown-item" href="/earliest">Earliest</a></li>
            <li><a class="dropdown-item" href="/ratedh">Highest Rated</a></li>
            <li><a class="dropdown-item" href="/ratedl">Lowest Rated</a></li>

            
          </ul>
        </li>
          
          
        </ul>
        
      </div>
    </div>
  </nav>
  <hr style="margin-top:0;">